.App {
  text-align: center;
}


.background {
  background-color: navy;
  padding: 5;
}


.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.footer {

  position: fixed-bottom;
  width: 100%;
  bottom: 0;
 }